<h1>
  Hello there, <%= @login %>!
</h1>
<%= @message %>

<form action="<%= url('/code') %>" method='POST'>
  <p>
    Enter your code:
    <input type='text' name='code' value=''>
  </p>
  <p>
    Email:
    <input type='text' name='email' value='<%= @email %>'>
  </p>
  <input type='submit' class='button'>
</form>