<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class=\"ie6\" lang=\"en\"> <![endif]-->
<!--[if IE 7 ]>    <html class=\"ie7\" lang=\"en\"> <![endif]-->
<!--[if IE 8 ]>    <html class=\"ie8\" lang=\"en\"> <![endif]-->
<!--[if IE 9 ]>    <html class=\"ie9\" lang=\"en\"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang=\"en\"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>
      Pair Program With Me - Matcher
    </title>

    <!-- TODO: change all assets to be relative -->
    <!-- TODO: maybe use slim - same as parent rails app? -->
    <link href="/assets/application.css?v=0" media="screen" rel="stylesheet" type="text/css" />
    <script src="/assets/custom.modernizr.js?v=0" type="text/javascript"></script>
    <style type="text/css">
      .content div.main-content { width: 100%; }
    </style>
  </head>
  <body>
    <header>
      <div class="content">
        <p class="showcase">
          <a href="http://www.pairprogramwith.me/">
            <img src="badge.png?v=0" />
          </a>
        </p>
        <h1>
          <a href="/" style="color: #FFFFFF">
            Matcher
          </a>
        </h1>
      </div>
    </header>
    <section id="badge">
      <div class="content">
        <div class="main-content">
          <%= yield %>

          <% (1..4).each do %>
            <p>
              &nbsp;
            </p>
          <% end %>
        </div>
      </div>
    </section>

    <section id="copyright">
      <div class="content">
        <p>
          Design by <a href="http://chri.so/">Chris Radford</a>.
          Awesome badge by <a href="http://twoguys.us/">David Browning</a>.
          <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/us/deed.en_US" id="licence" rel="license">
            <img alt="Creative Commons License" src="http://i.creativecommons.org/l/by-nc-sa/3.0/us/88x31.png"/>
          </a>
        </p>
      </div>
    </section>

    <script src="/assets/application.js?v=0" type="text/javascript"></script>
  </body>
</html>